@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 768px) {
  ._pc {
    display: block;
  }
}

body.hoge {
  font-family: "Hiragino Mincho Pro",serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

.header .header-fixed {
  background-color: #4D0000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header .header-logo {
  width: 150px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header .nav-btn {
  width: 52px;
  height: 30px;
  appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  outline: none;
  position: relative;
  right: 30px;
}

@media print, screen and (min-width: 768px) {
  .header .nav-btn {
    display: none;
  }
}

.header .nav-btn.-active span {
  top: 0;
  bottom: 0;
  margin: auto;
  transition: transform 0.3s ease;
}

.header .nav-btn.-active span:first-child {
  transform: rotate(45deg);
}

.header .nav-btn.-active span:nth-child(2) {
  transform: rotate(45deg);
}

.header .nav-btn.-active span:last-child {
  transform: rotate(-45deg);
}

.header .nav-btn span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: transform 0.3s ease;
}

.header .nav-btn span:first-child {
  top: 0;
}

.header .nav-btn span:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.header .nav-btn span:last-child {
  bottom: 0;
}

.header .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000CC;
  padding-top: 145px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

@media print, screen and (min-width: 768px) {
  .header .nav {
    width: initial;
    background-color: transparent;
    padding-top: 0;
    z-index: 3;
    right: 0;
    left: inherit;
    top: 38px;
    opacity: 1;
    visibility: visible;
  }
}

.header .nav.-active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

.header .nav-list {
  text-align: center;
  padding-bottom: 45px;
}

@media print, screen and (min-width: 768px) {
  .header .nav-list {
    display: flex;
    margin-right: 40px;
    padding-bottom: 45px;
  }
}

.header .nav-list .item + .item {
  margin-top: 20px;
}

@media print, screen and (min-width: 768px) {
  .header .nav-list .item + .item {
    margin-left: 20px;
    margin-top: 0;
  }
}

.header .nav-list .item a {
  color: #fff;
  font-size: 24px;
}

@media print, screen and (min-width: 768px) {
  .header .nav-list .item a {
    font-size: 18px;
  }
}

.cmn-section {
  background-color: #000;
  color: white;
}

.cmn-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 60px;
}

.cmn-title .main {
  font-size: 32px;
}

.cmn-title .sub {
  font-size: 22px;
  padding-top: 40px;
}

.cmn-btn {
  width: 155px;
  background-color: #B8860BEA;
  padding: 12px 20px 12px 20px;
  border-radius: 4px;
}

.footer {
  background-color: #4D0000;
}

.footer-list {
  padding-top: 40px;
  text-align: center;
  justify-content: center;
}

@media print, screen and (min-width: 768px) {
  .footer-list {
    display: flex;
    padding-top: 0;
  }
}

.footer-list .footer-item {
  padding-top: 20px;
}

@media print, screen and (min-width: 768px) {
  .footer-list .footer-item {
    padding-top: 40px;
  }
}

@media print, screen and (min-width: 768px) {
  .footer-list .footer-item + .footer-item {
    margin-left: 33px;
  }
}

.footer-list .footer-item a {
  color: #fff;
}

.footer-logo {
  width: 188px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 62px;
}

.copyright {
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

.top {
  background-image: url(./image/top-bg.png);
  background-position: center;
  background-size: cover;
  height: 674px;
  position: relative;
  margin-top: 100px;
}

.top .top-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 35px;
  width: 280px;
  text-align: center;
}

@media print, screen and (min-width: 768px) {
  .top .top-title {
    font-size: 50px;
    width: auto;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
}

.features-item {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
}

@media print, screen and (min-width: 768px) {
  .features-item:nth-child(odd) {
    display: flex;
    flex-flow: row-reverse;
  }
  .features-item:nth-child(even) {
    display: flex;
    flex-flow: row;
  }
}

.features-text {
  flex: 1;
  padding: 28px;
}

@media print, screen and (min-width: 768px) {
  .features-text {
    padding: 40px;
  }
}

.features-text h2 {
  font-size: 18px;
  padding-bottom: 50px;
}

@media print, screen and (min-width: 768px) {
  .features-text h2 {
    font-size: 28px;
  }
}

.features-text p {
  font-size: 16px;
  padding-bottom: 60px;
}

@media print, screen and (min-width: 768px) {
  .features-text p {
    font-size: 18px;
  }
}

.features-text .features-btn {
  margin: 0 auto;
  text-align: center;
}

.features-text .features-btn a {
  color: #fff;
}

.features-image {
  width: 100%;
}

@media print, screen and (min-width: 768px) {
  .features-image {
    width: 50%;
  }
}

.rec .rec-list {
  display: flex;
  padding-bottom: 100px;
}

.rec .rec-item {
  display: flex;
  flex-flow: column-reverse;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  width: 322px;
}

.rec .rec-item .text {
  color: #000;
  background-color: #fff;
  padding: 25px 25px 50px 25px;
  overflow: hidden;
}

.rec .rec-item .text .price {
  padding-top: 66px;
  font-size: 14px;
}

.rec .rec-item .text .price span {
  color: #FF0000;
}

@media print, screen and (min-width: 768px) {
  .service-wrap {
    margin-left: 34px;
    margin-right: 34px;
  }
}

@media print, screen and (min-width: 768px) {
  .service-list {
    display: flex;
  }
}

.service-item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
}

.service-item + .service-item {
  margin-top: 30px;
}

@media print, screen and (min-width: 768px) {
  .service-item + .service-item {
    margin-top: 0;
    margin-left: 20px;
  }
}

@media print, screen and (min-width: 768px) {
  .service-item {
    width: 32.8125%;
  }
}

.service-text {
  color: #000;
  text-align: center;
}

.service-text .service-text-main {
  font-size: 28px;
}

.service-text .service-text-sub {
  padding-top: 40px;
  padding-bottom: 53px;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 18px;
}

.service-image {
  margin: 0 auto;
  padding-top: 10px;
  width: 160px;
}

.blog-list {
  display: flex;
}

.blog-list + .blog-list {
  padding-top: 25px;
}

@media print, screen and (min-width: 768px) {
  .blog-list {
    margin-left: 70px;
    padding-right: 80px;
  }
}

dt {
  background-color: #4D0000;
  height: 30px;
  width: 75px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin-right: 20px;
}

@media print, screen and (min-width: 768px) {
  dt {
    width: 157px;
    font-size: 14px;
  }
}

dd {
  flex: 1;
}

dd a {
  color: #fff;
  font-size: 16px;
  text-decoration: underline;
  display: block;
  margin-left: 20px;
}

@media print, screen and (min-width: 768px) {
  dd a {
    font-size: 24px;
  }
}

.blog-btn {
  margin-top: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.blog-btn a {
  color: #fff;
}

.faq {
  padding-bottom: 100px;
}

@media print, screen and (min-width: 768px) {
  .faq {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.inner {
  padding-left: 25px;
  padding-right: 25px;
}

.faq-item {
  display: flex;
  flex-flow: column;
  width: 100%;
  text-align: center;
}

.faq-item .question {
  background-color: #fff;
  color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #E5E5E5;
}

.faq-item .answer {
  background-color: #f2f2f2;
  color: #000;
  padding-bottom: 26px;
  padding-top: 26px;
  padding-right: 50px;
  padding-left: 50px;
  display: none;
}
