.features-cont {

}

.features-list {
    display: flex;
    flex-direction: column;
}

.features-item {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    @include overTab {
        &:nth-child(odd) {
            display: flex;
            flex-flow: row-reverse;
        }
        &:nth-child(even) {
            display: flex;
            flex-flow: row;
        }
    }
    
}

.features-text {
    flex: 1;
    padding: 28px;
    @include overTab {
        padding: 40px;
    }
    h2 {
        font-size: 18px;
        padding-bottom: 50px;
        @include overTab {
            font-size: 28px;
        }
    }

    p {
        font-size: 16px;
        padding-bottom: 60px;
        @include overTab {
            font-size: 18px;
        }
    }

    .features-btn {
        margin: 0 auto;
        text-align: center;
        a {color: cl(white);
        }
    }
}
.features-image {
    width: 100%;
    @include overTab {
        width: percentage($number: 640/1280);
    }
    
}