.top {
    background-image: url(../image/top-bg.png);
    background-position: center;
    background-size: cover;
    height: 674px;
    position: relative;
    margin-top: 100px;
    .top-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: white;
        font-size: 35px;
        width: 280px;
        text-align: center;
        @include overTab {
            font-size: 50px;
            width: auto;
        }
    }
}