.cmn-section {
    background-color: cl(black);
    color: white;
}




.cmn-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 60px;
    .main {
        font-size: 32px;
    }
    .sub {
        font-size: 22px;
        padding-top: 40px;
    }
}

.cmn-btn {
    width: 155px;
    background-color: cl(gold);
    padding: 12px 20px 12px 20px;
    border-radius: 4px;
    
}